/*
* Author: Brett Kim
*/

* {
    font-family: 'Playfair Display', Cambria, serif;
}

h1 {
    font-size: 5em;
    font-family: 'Playfair Display'
}

.heading {
    text-align: center;
}

#flex {
    display: flex;
}

hr {
    width: 75%;
}

a, a:visited {
    color: #d11415;
}

.lvtc {
    color: #d11415;
}