/*
* Author: Brett Kim
*/

* {
    font-family: 'Playfair Display';
}


h1 {
    font-size: 3.5em;
    font-family: 'Playfair Display'
}

.heading {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

hr {
    width: 75%;
}

a, a:visited {
    color: #d11415;
}

.lvtc {
    color: #d11415;
}

.grid div {
    border: 0.2px solid gray;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    flex-basis: 33.3333%;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}